*iml
gitlab-docker/config/gitlab-secrets.json
gitlab-docker/config/ssh*
gitlab-docker/setup/cookies.txt
gitlab-docker/setup/personal-access-token.txt
gitlab-docker/setup/tmp.json
gitlab-setup/project1/git-repo/.git
